GARTISAN_DATABASE_URL=mysql://root:password@tcp(localhost:3306)/template?tls=false
FRONTEND_URL=http://localhost:3000

DB_USER=root
DB_PASSWORD=password
DB_HOST=localhost
DB_PORT=3306
DB_NAME=template

JWT_SECRET_KEY=change-me-please
JWT_SIGNING_METHOD=HS256
JWT_ISSUER_SERVER=http://localhost:8080
JWT_ACCESS_TOKEN_TTL=30
JWT_REFRESH_TOKEN_TTL=10080
JWT_BLACKLIST_DRIVER=memory
JWT_BLACKLIST_INCIDENT_TIME_KEY=jwt_incident
# Media library
MEDIA_DISK=local
MEDIA_ROOT=storage/media
MEDIA_URL_PREFIX=/storage/media
